<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Re:8lace - visit component</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 예약, 주문-->
    <!-- <div class="relative w-[8.75rem] h-[2.215rem] text-label-s">
      <a href="/" class="w-[4.9375rem] h-[2.125rem] bg-blue-700 text-white font-bold rounded-2xl text-center leading-[34px] inline-block cursor-pointer z-10 relative">
        <img src="/src/assets/icons/date.svg" alt="예약 아이콘" class="w-4 h-4 inline-block mr-1"> 예약
      </a>
      <a href="/" class="w-[4.9375rem] h-[2.125rem] bg-gray-400 text-white font-bold rounded-2xl text-center leading-[34px] inline-block absolute left-[3.9375rem] pointer-events-none opacity-50">
        <img src="/src/assets/icons/spoon.svg" alt="주문 아이콘" class="w-4 h-4 inline-block mr-1"> 주문
      </a>
    </div>

    <div class="relative w-[8.75rem] h-[2.215rem] text-label-s mt-3">
      <a href="/" class="w-[4.9375rem] h-[2.125rem] bg-gray-400 text-white font-bold rounded-2xl text-center leading-[34px] inline-block relative pointer-events-none opacity-50">
        <img src="/src/assets/icons/date.svg" alt="주문 아이콘" class="w-4 h-4 inline-block mr-1"> 예약
      </a>
      <a href="/" class="w-[4.9375rem] h-[2.125rem] bg-blue-700 text-white font-bold rounded-2xl text-center leading-[34px] inline-block absolute left-[3.9375rem] cursor-pointer">
      <img src="/src/assets/icons/spoon.svg" alt="예약 아이콘" class="w-4 h-4 inline-block mr-1"> 주문
    </a>  
    </div> -->
    
    



    <!-- 예약 주문 버전2 -->
    <!-- <div class="relative w-[140px] h-[34px] text-label-s">
      <div id="group1" class="absolute inset-0 flex transition-opacity duration-300">
        <button onclick="toggleButtons()" class="w-[79px] h-[34px] bg-blue-600 text-white font-bold rounded relative z-10">예약</button>
        <button onclick="toggleButtons()" class="w-[79px] h-[34px] bg-gray-400 text-white font-bold rounded absolute left-[3.8125rem]">주문</button>
      </div>
      <div id="group2" class="absolute inset-0 flex opacity-0 transition-opacity duration-300">
        <button onclick="toggleButtons()" class="w-[79px] h-[34px] bg-gray-400 text-white font-bold rounded">예약</button>
        <button onclick="toggleButtons()" class="w-[79px] h-[34px] bg-blue-600 text-white font-bold rounded absolute left-[3.8125rem]">주문</button>
      </div>
    </div>
    <script>
      function toggleButtons() {
        document.getElementById('group1').classList.toggle('opacity-0');
        document.getElementById('group2').classList.toggle('opacity-0');
      }
    </script> -->

    <!-- 예약 주문 버전3 -->
   <div class="relative w-[140px] h-[34px] flex text-label-s">
  <div id="group1" class="absolute inset-0 flex transition-opacity duration-300">
    <button onclick="location.href='#'; toggleButtons()" class="w-[4.9375rem] h-[2.125rem] bg-blue-600 text-white font-bold rounded-2xl flex items-center justify-center z-10">
      <img src="/src/assets/icons/date.svg" alt="예약 아이콘" class="w-[1.125rem] h-[1.125rem]"> 예약
    </button>
    <button onclick="location.href='#'; toggleButtons()" class="w-[4.9375rem] h-[2.125rem] bg-gray-400 text-white font-bold rounded-2xl flex items-center justify-center ml-[-18px]">
      <img src="/src/assets/icons/spoon.svg" alt="주문 아이콘" class="w-[1.125rem] h-[1.125rem]"> 주문
    </button>
  </div>
  
  <div id="group2" class="absolute inset-0 flex opacity-0 transition-opacity duration-300">
    <button onclick="location.href='#'; toggleButtons()" class="w-[4.9375rem] h-[2.125rem] bg-gray-400 text-white font-bold rounded-2xl flex items-center justify-center">
      <img src="/src/assets/icons/date.svg" alt="예약 아이콘" class="w-[1.125rem] h-[1.125rem] mr-1"> 예약
    </button>
    <button onclick="location.href='#'; toggleButtons()" class="w-[4.9375rem] h-[2.125rem] bg-blue-600 text-white font-bold rounded-2xl flex items-center justify-center ml-[-18px]">
      <img src="/src/assets/icons/spoon.svg" alt="주문 아이콘" class="w-[1.125rem] h-[1.125rem] mr-1"> 주문
    </button>
  </div>
</div>

<script>
  function toggleButtons() {
    document.getElementById('group1').classList.toggle('opacity-0');
    document.getElementById('group2').classList.toggle('opacity-0');
  }
</script>

<!-- 버튼 왔다갔다 -->
<!-- <label class="relative w-[140px] h-[34px] text-label-s inline-block cursor-pointer">
  <input type="checkbox" class="sr-only peer">
  <span class="absolute w-[79px] h-[34px] bg-gray-400 text-white font-bold rounded-md text-center leading-[34px] inline-block left-[61px] transition-all duration-300 peer-checked:left-0">
    주문
  </span>
  <span class="absolute w-[79px] h-[34px] bg-blue-700 text-white font-bold rounded-md text-center leading-[34px] inline-block left-0 transition-all duration-300 peer-checked:left-[61px]">
    예약
  </span>
</label> -->

<!-- 위치 다른 버튼 -->
<!-- <div class="relative w-[140px] h-[34px] space-y-6">
  <div class="relative w-[140px] h-[34px]">
    <label class="absolute top-0 left-0 w-[140px] h-[34px] cursor-pointer">
      <input type="checkbox" class="sr-only peer">
      <span class="absolute w-[79px] h-[34px] bg-blue-700 text-white font-bold rounded-md text-center leading-[34px] inline-block left-0 transition-all duration-300 peer-checked:left-[61px]">
        예약
      </span>
      <span class="absolute w-[79px] h-[34px] bg-gray-400 text-white font-bold rounded-md text-center leading-[34px] inline-block left-[61px] transition-all duration-300 peer-checked:left-0">
        주문
      </span>
    </label>

    <label class="absolute top-0 left-0 w-[140px] h-[34px] cursor-pointer">
      <input type="checkbox" class="sr-only peer">
      <span class="absolute w-[79px] h-[34px] bg-gray-400 text-white font-bold rounded-md text-center leading-[34px] inline-block left-[61px] transition-all duration-300 peer-checked:left-0">
        예약
      </span>
      <span class="absolute w-[79px] h-[34px] bg-blue-700 text-white font-bold rounded-md text-center leading-[34px] inline-block left-0 transition-all duration-300 peer-checked:left-[61px]">
        주문
      </span>
    </label>
  </div>

  <div class="relative w-[140px] h-[34px]">
    <label class="absolute top-0 left-0 w-[140px] h-[34px] cursor-pointer">
      <input type="checkbox" class="sr-only peer">
      <span class="absolute w-[79px] h-[34px] bg-gray-400 text-white font-bold rounded-md text-center leading-[34px] inline-block left-[61px] transition-all duration-300 peer-checked:left-0">
        주문
      </span>
      <span class="absolute w-[79px] h-[34px] bg-blue-700 text-white font-bold rounded-md text-center leading-[34px] inline-block left-0 transition-all duration-300 peer-checked:left-[61px]">
        예약
      </span>
    </label>

    <label class="absolute top-0 left-0 w-[140px] h-[34px] cursor-pointer">
      <input type="checkbox" class="sr-only peer">
      <span class="absolute w-[79px] h-[34px] bg-blue-700 text-white font-bold rounded-md text-center leading-[34px] inline-block left-0 transition-all duration-300 peer-checked:left-[61px]">
        주문
      </span>
      <span class="absolute w-[79px] h-[34px] bg-gray-400 text-white font-bold rounded-md text-center leading-[34px] inline-block left-[61px] transition-all duration-300 peer-checked:left-0">
        예약
      </span>
    </label>
  </div>
</div> -->














    <!-- 전체 - 뷰티 - 병의원 - 공연 전시  -->
    <div class="bg-primary-color text-white w-[5.25rem] h-[5.1875rem] text-phrase-s justify-items-center content-center rounded-xl">
      <img src="/src/assets/icons/app.svg" alt="전체" class="w-6 h-6" />
      전체
    </div>
    <div class="bg-gray-100 w-[5.25rem] h-[5.25rem] text-phrase-s justify-items-center content-center rounded-xl">
      <img src="/src/assets/icons/call-b.svg" alt="text" class="w-6 h-6" />
      text
    </div>

    <!-- 예약 N회, 금액 -->
    <div class="w-80 h-20 px-space-9 py-space-4 text-label-m">
      <p>LION님은 <span class="text-lightblue-400">33회</span> 예약하셨고, <span class="text-lightblue-400">76,000원</span> 결제하셨어요.</p>
    </div>

    <!-- 방문 상호명 및 1순위-->
    <div class="w-[20rem] h-[2.875rem] relative flex flex-wrap justify-between px-space-6 items-center text-center">
      <div class="text-label-s font-bold flex items-center w-[8.375rem] h-[1.375rem]">
        <p class="bg-pink-200 text-gray-600 rounded-lg w-[1.375rem] h-[1.375rem] mr-space-2 flex items-center justify-center">1</p>
        <span>미랑컬헤어 상동점</span>
        <img src="/src/assets/icons/date-blue.svg" alt="date icon" />
      </div>
      <p class="text-label-s text-gray-600">12회</p>
      <div class="absolute bottom-0 w-[17.125rem] h-0.5 bg-primary"></div>
    </div>

    <!-- 방문 상호명 및 2순위 -->
    <div class="w-[20rem] h-[2.875rem] flex flex-wrap justify-between px-space-6 items-center text-center content-end">
      <div class="text-label-s font-bold flex items-center w-[8.375rem] h-[1.375rem] my-space-3">
        <p class="bg-pink-200 text-gray-600 rounded-lg w-[1.375rem] h-[1.375rem] mr-space-2 flex items-center justify-center">2</p>
        <span>미랑컬헤어 상동점</span>
        <img src="/src/assets/icons/date-blue.svg" alt="date icon" />
      </div>
      <p class="text-label-s text-gray-600">12회</p>
      <div class="relateiv w-[17.125rem] h-0.5 bg-lightblue-400">
        <div class="absolute w-[12.0625rem] h-0.5 bg-primary"></div>
      </div>
    </div>

    <!-- 방문 상호명 및 3순위 -->
    <div class="w-[20rem] h-[2.875rem] flex flex-wrap justify-between px-space-6 items-center text-center content-end">
      <div class="text-label-s font-bold flex items-center w-[8.375rem] h-[1.375rem] my-space-3">
        <p class="bg-pink-200 text-gray-600 rounded-lg w-[1.375rem] h-[1.375rem] mr-space-2 flex items-center justify-center">3</p>
        <span>미랑컬헤어 상동점</span>
        <img src="/src/assets/icons/date-blue.svg" alt="date icon" />
      </div>
      <p class="text-label-s text-gray-600">8회</p>
      <div class="w-[17.125rem] h-0.5 bg-lightblue-400">
        <div class="absolute w-[8.25rem] h-0.5 bg-primary"></div>
      </div>
    </div>

    <!-- 더보기(임시 색 추가) -->
    <div class="bg-gray-100 w-[20rem] h-[3.0625rem] flex items-center justify-center cursor-pointer">
      <span class="text-phrase-s">더보기</span>
      <img src="/src/assets/icons/down-b.svg" alt="더보기" />
    </div>

    <!-- 유디계산치과의원 (임시 색 추가)-->
    <div class="bg-yellow-200 w-[17.875rem] h-[6.5625rem] text-phrase-s">
      <a class="block pt-[.9375rem] pr-[13.125rem] pb-[1.375rem] pl-[1.125rem] underline">첫 번째 예약</a>
      <p class="pl-[1.125rem] pr-[12.625rem] py-space-4">임플란트 상담</p>
    </div>

    <!-- 김민지 부원장 (임시 색 추가 ) -->
    <div class="bg-gray-200 w-[17.9375rem] h-[3.375rem] px-space-3 py-space-2">
      <p class="text-label-s flex justify-between">김민지 부원장<span>35,000원</span></p>
      <p class="text-gray-600 text-phrase-s">컷</p>
    </div>
  </body>
</html>
