<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>- Tailwind CSS</title>
    <link rel="icon" href="/assets/favicon.svg" />
    <link
      rel="preload"
      as="font"
      href="/assets/font/woff2/PretendardVariable.woff2"
    />
    <link rel="stylesheet" href="/styles/output.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <ul>
      <li>
        <a href="/src/components/common/components/top-bar.html">상단바</a>
      </li>
      <li>
        <a href="/src/components/common/components/place-selector.html"
          >지역 선택</a
        >
      </li>
      <li>
        <a href="/src/components/common/components/type-selector.html"
          >종류 선택</a
        >
      </li>
      <li>
        <a href="/src/components/common/components/bottom-bar.html">하단바</a>
      </li>
      <li>
        <a href="/src/components/common/components/card.html">카드</a>
      </li>
      <li>
        <a href="/src/components/common/components/profile.html">프로필</a>
      </li>
    </ul>
  </body>
</html>
