@import '../../style.css';

body {
  /* background-color: yellow; */
}

.img-box {
  background-color: var(--color-gray-600);
  width: 111px;
  height: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-top {
  font-size: var(--font-p-s);
  color: var(--gray-700);
}
.text-bottom {
  font-size: var(--font-p-m);
  color: var(--gray-700);
}
