@import 'tailwindcss';
@plugin "tailwind-scrollbar-hide";

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;

  /* 여백 (4px 규칙) */
  --spacing-space-1: 0.25rem; /* 4px */
  --spacing-space-2: 0.5rem; /* 8px */
  --spacing-space-3: 0.75rem; /* 12px */
  --spacing-space-4: 1rem; /* 16px */
  --spacing-space-5: 1.25rem; /* 20px */
  --spacing-space-6: 1.5rem; /* 24px */
  --spacing-space-7: 1.75rem; /* 28px */
  --spacing-space-8: 2rem; /* 32px */
  --spacing-space-9: 2.25rem; /* 36px */
  --spacing-space-10: 2.5rem; /* 40px */
  --spacing-space-11: 2.75rem; /* 44px */
  --spacing-space-12: 3rem; /* 48px */
  --spacing-space-13: 3.25rem; /* 52px */

  /* 글자 크기 */

  /* 헤딩 */
  --text-head-m: 1rem; /* 16px */
  --text-head-l: 1.3331rem; /* 21.33px */
  --text-head-xl: 1.7769rem; /* 28.43px */
  --text-head-2xl: 2.3687rem; /* 37.9px */
  --text-head-3xl: 3.1575rem; /* 50.52px */

  /* 레이블 */
  --text-label-s: 0.75rem; /* 12px */
  --text-label-m: 1rem; /* 16px */
  --text-label-l: 1.3331rem; /* 21.33px */
  --text-label-xl: 1.7769rem; /* 28.43px */
  --text-label-xxl: 2.3687rem; /* 37.9px */

  /* 본문 */
  --text-phrase-s: 0.75rem; /* 12px */
  --text-phrase-m: 1rem; /* 16px */
  --text-phrase-l: 1.3331rem; /* 21.33px */
  --text-phrase-xl: 1.7769rem; /* 28.43px */

  /* 색상 */
  --color-primary-color: #fecee0;
  --color-secondary-color: #ffb6c1;
  --color-tertiary-color: #ffe4e1;
  --color-text-default: #5c3d2e;
  --color-hover-color: #f29caa;

  --color-gray-50: #f9f9f9;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-white: #fff;
  --color-black: #000;
  --color-red: #ff0000;

  --color-primary: #171f31;
  --color-lightblue-300: #aac4fa;
  --color-lightblue-400: #8db0f9;
  --color-contents-contentTertiary: #a6a6a6;
  --color-contents-contentSecondary: #6b6b6b;
  --cheeze-cake: url(./assets/images/cheeze-cake.png);
  --coffee: url(./assets/images/coffee.png);
  --futatsu: url(./assets/images/futatsu.png);
  --giraffe: url(./assets/images/giraffe.png);
  --mapo-gopchang: url(./assets/images/mapo-gopchang.png);
  --new-order: url(./assets/images/new-order.png);
  --korak: url(./assets/images/korak.png);
  --sea-love: url(./assets/images/sea-love.png);
  --samjjusam: url(./assets/images/samjjusam.png);
  --berry-cake: url(./assets/images/berry-cake.jpg);
  --strawberry-cake: url(./assets/images/strawberry-cake.jpg);
  --latte: url(./assets/images/latte.jpg);
  --sakura: url(./assets/images/sakura.jpg);
  --bookmark: url(./assets/icons/bookmark.svg);
  --bookmark-pink: url(./assets/icons/bookmark-pink.svg);
  --star: url(./assets/icons/star.svg);
  --star-pink: url(./assets/icons/star-pink.svg);
  --hojeong-profile: url(./assets/images/hojung.png);
}

/* 리뷰 페이지 */
.card-gradient {
  background: linear-gradient(2deg, #ffffff 43.39%, rgba(0, 0, 0, 0) 83.57%);
}
.components-section {
  @apply flex items-center w-full gap-2 p-2 border-2 border-gray-400 rounded-md;
}
.icon {
  @apply w-full h-full bg-center bg-cover;
}
.icon-box-12 {
  @apply flex items-center justify-center size-3;
}
.icon-box-14 {
  @apply flex items-center justify-center size-3.5;
}
.icon-box-16 {
  @apply flex items-center justify-center size-4;
}
.icon-box-18 {
  @apply flex items-center justify-center size-4.5;
}
.icon-box-24 {
  @apply flex items-center justify-center size-6;
}
.icon-box-28 {
  @apply flex items-center justify-center size-7;
}
.icon-box-30 {
  @apply flex items-center justify-center size-7.5;
}
.icon-box-32 {
  @apply flex items-center justify-center size-8;
}
.icon-box-34 {
  @apply flex items-center justify-center size-8.5;
}
.icon-box-40 {
  @apply flex items-center justify-center size-10;
}
.icon-box-48 {
  @apply flex items-center justify-center size-12;
}

/* visit 페이지 */
@layer components {
  .keyword-style {
    @apply max-w-full h-[2.4375rem] py-[.625rem] px-[1.125rem] flex flex-col flex-wrap content-center justify-center rounded-sm;
  }
  .text-style {
    @apply text-label-s font-semibold whitespace-nowrap;
  }
}

/* login, setting, follow 페이지 */
@layer components {
  .default-card {
    @apply w-[90px] h-[92px] flex flex-col items-center justify-between p-3 rounded-md border transition bg-tertiary-color border-tertiary-color;
  }
  .change-card {
    @apply w-[90px] h-[92px] flex flex-col items-center justify-between p-3 rounded-md border transition bg-primary-color border-primary-color;
  }
}
/* 쿠폰 페이지 */
@layer components {
  .filter-btn {
    @apply flex items-center justify-center px-3 py-2 font-semibold cursor-pointer rounded-2xl text-label-s;

    &.default {
      @apply bg-white border border-gray-300 text-contents-contentSecondary hover:bg-gray-300;
    }
    &.active {
      @apply text-white bg-secondary-color hover:bg-hover-color;
    }
    &:has(img) {
      @apply pl-2;
    }
  }
}

/* swiper */
@layer components {
  .custom-prev,
  .custom-next {
    @apply absolute z-10 transition-opacity transform -translate-y-1/2 opacity-0 cursor-pointer top-1/2 group-hover:opacity-100 hover:brightness-90;
  }

  .custom-prev {
    @apply left-2;
  }

  .custom-next {
    @apply right-2;
  }
}
/* setting 페이지 */
@layer components {
  .select-box {
    @apply px-1 w-[141px] h-[66px] flex items-center gap-space-2 rounded-md border transition;
  }

  .select-box-default {
    @apply bg-tertiary-color text-text-default border-tertiary-color;
  }

  .select-box-checked {
    @apply bg-secondary-color text-white border-secondary-color hidden peer-checked:flex;
  }

  .select-text {
    @apply text-phrase-s;
  }

  .select-title {
    @apply text-phrase-m font-bold whitespace-nowrap;
  }

  .select-icon {
    @apply h-5 w-5 text-gray-500;
  }

  .select-icon-checked {
    @apply h-5 w-5 text-white;
  }
}

/* visit 모달 */
@layer utilities {
  .panel-dialog {
    width: 100%;
    min-width: 300px;
    max-width: 540px;
    max-height: 400px;
    margin: auto;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .panel-dialog img {
    margin: 5px;
  }
}

/* scrollbar-custom */
@layer utilities {
  .scrollbar-custom {
    scrollbar-width: none; /* Firefox */
  }

  /* Chrome, Safari, Opera, Edge */
  .scrollbar-custom::-webkit-scrollbar {
    display: none;
  }
}

/* type select btn click event style */
@layer components {
  .clickable-btn {
    @apply bg-white;

    &:hover {
      @apply bg-secondary-color text-white;
    }
    &.clicked {
      @apply bg-secondary-color text-white;
    }
  }
}

@layer components {
  .invisible {
    @apply absolute left-0 w-full z-10;
    top: -100px;
  }

  &.show {
    @apply fixed;
    top: 30px;
  }
}
